/* ----------------------------- Inicio Extends ----------------------------- */
%headers {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}

/* ------------------------------- Fin Extends ------------------------------ */
